<script>
    const body = document.getElementById('body');
    const themeSwitcher = document.getElementById('themeSwitcher');

    themeSwitcher.addEventListener('change', () => {
        body.classList.toggle('dark-mode');
    });

    document.querySelectorAll('nav a').forEach(link => {
        link.addEventListener('click', function (e) {
            e.preventDefault();
            fetchPage(this.href);
        });
    });

    function fetchPage(url) {
        fetch(url)
            .then(response => response.text())
            .then(html => {
                const parser = new DOMParser();
                const doc = parser.parseFromString(html, 'text/html');
                document.querySelector('main').innerHTML = doc.querySelector('main').innerHTML;
                window.history.pushState({ path: url }, '', url);
            })
            .catch(error => console.warn('Error fetching page:', error));
    }

    window.onpopstate = function (event) {
        if (event.state && event.state.path) {
            fetchPage(event.state.path);
        }
    };
</script>

<script src="{{ site.baseurl }}/assets/js/pagination.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
      const codeBlocks = document.querySelectorAll('pre code');
  
      codeBlocks.forEach((codeBlock) => {
        const container = document.createElement('div');
        container.className = 'copy-code-container';
  
        const button = document.createElement('button');
        button.className = 'copy-code-button primary_btn'; // Add the 'primary_btn' class here
        button.textContent = 'Copy Code';
  
        button.addEventListener('click', () => {
          const textArea = document.createElement('textarea');
          textArea.value = codeBlock.innerText;
          document.body.appendChild(textArea);
          textArea.select();
          document.execCommand('copy');
          document.body.removeChild(textArea);
  
          // Change the button text to "Copied!" for a short duration
          const originalText = button.textContent;
          button.textContent = 'Copied!';
          setTimeout(() => {
            button.textContent = originalText;
          }, 1000); // Adjust the duration as needed
        });
  
        container.appendChild(button);
        codeBlock.parentNode.insertBefore(container, codeBlock.nextSibling);
      });
    });
  </script>
  